<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pts.dao.PermissionDao">
    <resultMap id="BaseMap" type="com.pts.model.Permission">
        <id column="id" property="id" jdbcType="VARCHAR"></id>
        <result column="user_id" property="userId" jdbcType="VARCHAR"></result>
        <result column="permission" property="permission" jdbcType="VARCHAR"></result>
        <result column="permission_type" property="permissionType" jdbcType="VARCHAR"></result>
        <result column="status" property="status" jdbcType="INTEGER"></result>
        <result column="exception_desc" property="exceptionDesc" jdbcType="VARCHAR"></result>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"></result>
        <result column="create_by" property="createBy" jdbcType="VARCHAR"></result>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"></result>
        <result column="update_by" property="updateBy" jdbcType="VARCHAR"></result>
    </resultMap>

    <sql id="BaseFiled">
        `id`,`user_id`,`permission`,`permission_type`,`status`,`exception_desc`,`create_time`,`create_by`,`update_time`,`update_by`
    </sql>

    <!--插入-->
    <insert id="insert" parameterType="com.pts.model.Permission">
        INSERT INTO `p_permissions`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null and id != ''">
                `id`,
            </if>
            <if test="userId != null">
                `user_id`,
            </if>
            <if test="permission != null">
                `permission`,
            </if>
            <if test="permissionType != null">
                `permission_type`,
            </if>
            <if test="status != null">
                `status`,
            </if>
            <if test="createBy != null">
                `create_by`,
            </if>
            <if test="createTime != null">
                `create_time`,
            </if>
        </trim>
        <trim prefix=" values(" suffix=")">
            <if test="id != null and id != ''">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=VARCHAR},
            </if>
            <if test="permission != null">
                #{permission,jdbcType=VARCHAR},
            </if>
            <if test="permissionType != null">
                #{permissionType,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
            <if test="createBy != null">
                #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    
    <!-- 批量插入 -->
    <insert id="insertByBatch" parameterType="java.util.ArrayList">
        insert into `p_permissions`(
        `id`,`user_id`,`permission`,`permission_type`,`status`,`exception_desc`,`create_by`,`update_by`
        ) values
          <foreach collection="permissionList" item="item" index="index" separator=",">
              (#{item.id,jdbcType=VARCHAR},#{item.userId,jdbcType=VARCHAR},
                #{item.permission,jdbcType=VARCHAR},#{item.permissionType,jdbcType=INTEGER},
                #{item.status,jdbcType=INTEGER},#{item.exceptionDesc,jdbcType=VARCHAR},
                #{item.createBy,jdbcType=VARCHAR},#{item.updateBy,jdbcType=VARCHAR})
          </foreach>

    </insert>

    <!-- 获取所有权限 -->
    <select id="getAllPermission" resultMap="BaseMap">
        select
        <include refid="BaseFiled"/>
         from `p_permissions`
    </select>

    <!-- 通过特定值获取permission -->
    <select id="getAllPermissionByStatus" resultMap="BaseMap">
        select
        <include refid="BaseFiled"/>
        from `p_permissions`
        <trim prefix=" where " suffixOverrides="AND|OR">
            <if test="id != null">
                `id` = #{id,jdbcType=VARCHAR} AND
            </if>
            <if test="userId != null">
                `user_id` = #{userId,jdbcType=VARCHAR} AND
            </if>
            <if test="permission != null">
                `permission` = #{permission,jdbcType=VARCHAR} AND
            </if>
            <if test="status != null">
                `status` = #{status,jdbcType=INTEGER} AND
            </if>
        </trim>
    </select>

    <delete id="deletePermissionBySole" parameterType="com.pts.model.Permission">
        delete from `p_permissions` where
        <trim suffixOverrides="AND|OR">
            <if test="id != null">
                `id` = #{id,jdbcType=VARCHAR} AND
            </if>
            <if test="userId != null">
                `user_id` = #{userId,jdbcType=VARCHAR} AND
            </if>
            <if test="permission != null">
                `peimission` = #{permission,jdbcType=VARCHAR} AND
            </if>
        </trim>
    </delete>
</mapper>