.block{display: block}

.w-40{width: 40px;}
.w-50{width: 50px;}
.w-55{width: 55px;}
.w-60{width: 60px;}
.w-70{width: 70px;}
.w-80{width: 80px;}
.w-90{width: 90px;}
.w-100{width: 100px;}
.w-110{width: 110px;}
.w-120{width: 120px;}
.w-130{width: 120px;}
.w-140{width: 120px;}
.w-150{width: 150px;}
.w-180{width: 150px;}


.w-min-40{min-width: 40px;}
.w-min-50{min-width: 50px;}
.w-min-60{min-width: 60px;}
.w-min-70{min-width: 70px;}
.w-min-80{min-width: 80px;}
.w-min-90{min-width: 90px;}
.w-min-100{min-width: 100px;}
.w-min-110{min-width: 110px;}
.w-min-120{min-width: 120px;}
.w-min-130{min-width: 130px;}
.w-min-140{min-width: 140px;}
.w-min-150{min-width: 150px;}


.w-max-40{max-width: 40px;}
.w-max-50{max-width: 50px;}
.w-max-60{max-width: 60px;}
.w-max-70{max-width: 70px;}
.w-max-80{max-width: 80px;}
.w-max-90{max-width: 90px;}
.w-max-100{max-width: 100px;}
.w-max-110{max-width: 110px;}
.w-max-120{max-width: 120px;}
.w-max-130{max-width: 130px;}
.w-max-140{max-width: 140px;}
.w-max-150{max-width: 150px;}
.w-max-180{max-width: 180px;}
.w-max-200{max-width: 200px;}
.w-max-220{max-width: 220px;}
.w-max-250{max-width: 250px;}